[user]
	name = Alex
    email = snalex2539@gmail.com

[init]
    defaultBranch = main

[push]
    default = current
    autoSetupRemote = true

[pull]
    rebase = false

[core]
    editor = nvim

[credential]
    helper = store

[diff]
    tool = vimdiff

[alias]
    st   = status
    co   = checkout
    lg   = log --oneline --graph --decorate -20
    undo = reset HEAD~1 --mixed
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
